build
.cache
sdkconfig.old
managed_components
# main/config.h
.vscode

scripts/auth_data/*.bin
scripts/flash/*.bin
cmake-build-debug/
components/VolcEngineRTCLite0/
dependencies.lock
target
libsocket_sdk.a
scripts/flash-win/auth_data.bin
.idea/

target/
scripts/debug/dump/
scripts/audioTest/uploads/
bin/*/

release/
audio_handle/
no_used_mp3/
S3.rar
target.rar
sntp_time_stamp/

voltage_table.csv
*.log